@font-face {
    font-family: 'Signika';
    src: url('../font/Signika-Regular.ttf');
}



.mycontainer {
	margin-right: 15%;
	margin-left: 15%;
	padding-left: 15px;
	padding-right: 150px;
		
}


.contentarea {

	
	min-height: 100%;
  	height: auto;
  	/* Negative indent footer by its height */
  	margin: 0 auto -60px;
  	/* Pad bottom by footer height */
  	padding: 0 0 40px;
}

.ressuuhome {

	/*background-color:#01ba8e;

	height: 100vh;*/
  background-image: url("../images/background.png");
  background-repeat: no-repeat; 
  background-size:100% 400%;
 
}

.ressuuhome h1 {

	font-family: 'Signika', sans-serif;
	font-weight: 700;
	font-size: 82px;
	color: #ffffff;
	text-align: center;


}

.ressuuhome h6 {

	font-family: 'Signika', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #ffffff;
	text-align: center;


}


.ressuuhome span {

	font-family: 'Signika', sans-serif;
	font-weight: 700;
	font-size: 82px;
	color: #323a45;
	text-align: center;


}

.contentarea button {

	font-family: 'Signika', sans-serif;
	font-weight: 700;
	font-size: 36px;
	color: #ffffff;
	text-align: center;


}

.ressuufooter a {

	font-family: 'Signika', sans-serif;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	padding: 7px 30px 7px 30px!important;
	margin: 10px 10px 0px 0px;


}
.ressuufooter {
	
    background-color: #16a087;
    width: 100%;
    float: left;
    height:66px; 
    position:fixed ;
    bottom:0;




}

.ressuufooter p {
	
   	color:#ffffff;
   	font-size: 16px;
   	font-family: 'Signika', sans-serif;
	font-weight: 700;
	margin-top:20px;

}
.btnwrap button{
	float:right;
	margin: 10px 10px 0px 0px;
	
}
.btn2:hover {
	background-color: #00ABEF!important;	
}
.btn1:hover {
	background-color: #036E9A!important;	
}

.btn-danger {

	background-color: #1e786f!important;
	border: none!important;
	padding: 0px 20px 0px 20px!important;
}

.btn1 {

	font-family: 'Signika', sans-serif!important;
	font-weight: 700!important;
	background-color: #1e786f!important;
	border: none!important;
	
}

.btn2 {

	font-family: 'Signika', sans-serif!important;
	font-weight: 700!important;
	background-color: #1e786f!important;
	border: none!important;
	
}

.login-btn{
  background:#f27935 !important;
  border: none!important;
  padding: 0px 25px 0px 25px!important;
  margin-right: 10px;
}

.login-btn:hover{
  color: #ffffff;
}




.padtop30 {

	padding-top: 30px;

}

.padtop70 {

	padding-top: 70px;

}
.phoneimg{
	margin-top: 10px;
	
}


@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }
  div#slider { overflow: hidden; }
  div#slider figure img { width: 20%; float: left; }
  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slidy infinite; 
  }
  .phone_slide{
  	width: 184px;
  	height: 322px;
  	position: relative;
  	margin:-389px 0px 73px 0px;
  	background-image:url('images/dashboard_slide.png');
  }






@media (max-width: 767px) {


	.contentarea img {

		
		display: block;
   		margin: 0 auto;


	}


	.ressuuhome h1 {

		
		font-size: 45px;
		color: #ffffff;
		
	}

	.padtop70 {

		padding-top:20px;

	}

	.ressuuhome span {

		
		font-size: 45px;
		color: #323a45;
		

	}

	.ressuuhome h6 {

		
		font-size: 20px;
		color: #ffffff;
		

	}

	.contentarea button {

		
		font-family: 'Signika', sans-serif;
		font-weight: 700;
		font-size: 26px;
		color: #ffffff;
		text-align: center;
		margin-bottom: 20px;


	}

	

	.btn1 {

		background-color: #1e786f!important;
		border: none!important;
		padding: 0px 20px 0px 20px!important;
		margin-right:7px;
		margin-left:20px!important;
	}

	.btn2 {

		background-color: #1e786f!important;
		border: none!important;
		padding: 0px 20px 0px 20px!important;
		margin-top: 10px;

	}

	.ressuufooter p {
	
	   	text-align:center!important;

	}

}



